.about {
    text-align: center;
    padding: 10rem 15rem;
    height: 100vh;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
        padding: 3rem;

        .desc {
            padding: 1rem 1.6rem !important;
            margin-top: 5rem;
            margin-bottom: 15rem;
            border-radius: 5rem !important;

            p {
                text-align: left;
            }
        }
    }

    .desc {
        display: flex;
        background-color: #F6F6F6;
        padding: 5rem 15rem;
        margin-top: 5rem;
        border-radius: 20rem;
    }

    p {
        text-align: justify;
        font-size: 2rem;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    }
}