.contact {
    padding: 10rem 25rem;
    height: 100vh;
    overflow-y: hidden;

    a {
        color: #F6F6F6;
        text-decoration: none;

    }

    h4 {
        margin: 5rem 0;
        font-size: 3.2rem;
        width: 70%
    }

    .social {
        display: flex;
        background-color: #F6F6F6;
        padding: 5rem;
        margin-top: 15rem;
        border-radius: 20rem;
        align-items: center;
        justify-content: space-around;

        &-head {
            font-size: 4rem;
        }

        &-links {
            padding: 2rem 0;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            border-radius: 0.8rem;

            a {
                background: linear-gradient(to right, #ef4444, #55537c);
                margin: 0 5rem;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}