.contact {
    padding: 10rem 25rem;
    height: 100vh;
    overflow-y: hidden;

    @media only screen and (max-width: 600px) {
        padding: 3rem;

        h4 {
            font-size: 2.4rem !important;
        }

        .social {
            padding: 2rem !important;
            margin-top: 5rem !important;
            border-radius: 2rem !important;
            flex-direction: column;

            &-head {
                font-size: 3rem !important;
            }

            &-links {
                padding: 2rem 4rem !important;
                justify-content: space-around !important;

                img {
                    width: 2rem !important;
                }

                a {
                    margin: 0 2rem !important;
                }

            }
        }
    }

    a {
        color: #F6F6F6;
        text-decoration: none;

    }

    h4 {
        margin: 5rem 0;
        font-size: 3.2rem;
        width: 70%
    }

    .social {
        display: flex;
        background-color: #F6F6F6;
        padding: 5rem;
        margin-top: 15rem;
        border-radius: 20rem;
        align-items: center;
        justify-content: space-around;

        &-head {
            font-size: 4rem;
        }

        &-links {
            padding: 2rem 0;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            border-radius: 0.8rem;

            a {
                background: linear-gradient(to right, #ef4444, #55537c);
                margin: 0 5rem;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}