.projects {
    padding: 10rem 15rem 50rem;
    height: 100vh;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
        padding: 2rem 2rem 15rem !important;

        .card {
            width: 100% !important;
            border: 1px solid #80808088;

            .icon {
                padding: 1rem;

                img {
                    width: 6rem !important;
                }
            }

            &>div {
                padding: 1rem !important;
                max-width: 70%;
                word-break: break-all;

            }
        }


    }

    h1 {
        text-align: center;
    }

    .icon {
        padding: 2rem;

        img {
            width: 10rem;
        }
    }

    a {
        font-size: 1.2rem;
        color: #F6F6F6;
    }
}



.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 7rem 0 15rem;

}

.content-line {
    height: 8px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
}

.shimmerBG {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: #ddd;
    background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
    background-size: 1200px 100%;
}


@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1200px 0;
    }

    100% {
        background-position: 1200px 0;
    }
}

.card {
    width: 46%;
    border: 1px solid #80808088;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;

    &>div {
        padding: 1.6rem;
    }
}

.card-heading {
    font-size: 2.4rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1.6rem;
}

.leading-smallest {
    margin: 0;
    text-transform: capitalize;
}

.card-body {
    margin-block: 1rem;
}

.language {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 100rem;
    width: fit-content;
    background-color: #2243d438;
    border: 1px solid #2243d488;
}

@media screen and (max-width: 500px) {
    .grid {
        display: block;
        column-count: 1;
    }

    .card {
        margin-bottom: 2rem;
    }
}