.skills {
    text-align: center;
    padding: 10rem 15rem;
    height: 100vh;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
        padding: 3rem;

        img {
            width: 20rem !important;
        }

        h1 {
            font-size: 3.2rem;
        }

        &-list {
            gap: 1rem !important;
            margin-bottom: 17rem;
        }

        &-item {
            width: 10rem !important;
            height: 8rem !important;

            .icon {
                width: 5rem !important;
                height: 5rem !important;
            }
        }
    }


    img {
        width: 40rem;
        margin: 5rem 0;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin-top: 5rem;
        margin-bottom: 15rem;
    }

    &-item {
        width: 18rem;
        height: 15rem;
        border-radius: 0.8rem;
        background-color: #2d2d36;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1rem;

        .icon {
            width: 10rem;
            height: 10rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        h4 {
            font-size: 1.4rem;
        }

        &:hover {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
    }
}